#two_nav #bs-example-navbar-collapse-1 ul li {
  color: #0074D9;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}
#username a {
  color: #0074D9;
  font-weight: bold;
}
#top {
  background-color: #F4F8FA;
  border-left: 2px solid #0099DD;
}
#top h3 {
  font-weight: bold;
  margin-top: 40px;
  color: #09d;
}
#second {
  margin-top: 10px;
}
#second span {
  margin-right: 19%;
}
#third {
  margin-top: 20px;
}
#third #btn_submit {
  margin-top: 20px;
}
