#username a {
  color: #0074D9;
  font-weight: bold;
}
#main {
  margin-top: 10px;
}
#left .menu .bg-color {
  background-color: #F5F5F5;
  color: #007AFF;
}
#left .menu ul {
  margin-bottom: 0px;
  border: 1px solid #e2d9d9;
  border-bottom: 0px;
}
#left .menu ul li {
  height: 40px;
  line-height: 40px;
  margin-left: -40px;
  padding-left: 40px;
}
#left .menu ul .active {
  background-color: #337ab7;
}
#left .menu ul .active a {
  display: block;
  color: #fff;
}
#left #sub {
  background-color: #fff;
}
#right #biaodan {
  width: 60%;
  margin: 10px auto;
}
#right #biaodan #cur_username,
#right #biaodan #true_username,
#right #biaodan #id-number {
  margin-top: 6px;
}
#right #biaodan .id-pic #tip1 {
  font-weight: bold;
}
#right #biaodan .id-pic .pic {
  overflow: hidden;
}
#right #biaodan .id-pic .pic .picbox {
  position: relative;
  float: left;
  width: 164px;
  height: 156px;
  border: 1px solid #ddd;
  margin-right: 10px;
}
#right #biaodan .id-pic .pic .picbox p {
  background-color: #337AB7;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
#right #biaodan .id-pic .pic .picbox img {
  position: absolute;
  display: block;
  width: 120px;
  height: 100px;
  margin-top: 4px;
  margin-left: 14%;
}
